@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, "Tajawal", sans-serif;
  position: relative;
}

header {
  width: 100%;
  position: absolute;
  z-index: 99;
}
header hr {
  background: white;
  height: 2px;
  width: 97%;
  border-radius: 70px;
  margin: auto;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
  gap: 60px;
}
header nav figure img {
  width: 150px;
  height: 65px;
}
header nav .caja-items-nav li {
  display: inline-block;
  height: 100%;
}
header nav .caja-items-nav li a {
  display: block;
  height: 100%;
  padding: 20px 0px;
  font-size: 1.2em;
  margin-left: 10px;
  color: white;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}
header nav .caja-items-nav li a:hover {
  border-bottom: 2px solid white;
}
header html {
  font-size: 12px;
}
header main .Contenenedor_Otro_Hoteles {
  grid-template-columns: 1fr !important;
  grid-row: 1fr auto;
}

main #section_Slider {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  max-height: 100vh;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.hotelcosmospacifico.com/uploads/cms_apps/imagenes/cosmos-pacifico-piscina.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px 80px;
}
main #section_Slider .frase_landing {
  margin-top: 100px;
  flex-grow: 2;
  order: 2;
  text-align: end;
}
main #section_Slider .frase_landing .frase {
  font-size: 5.5em;
  font-weight: 800;
  line-height: 80px;
  color: white;
}
main #section_Slider .frase_landing .frase .item-frase {
  display: block;
  -webkit-animation: roll 8s ease 1s backwards;
          animation: roll 8s ease 1s backwards;
}
main #section_Slider .frase_landing .frase .item-frase:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  opacity: 1;
}
main #section_Slider .frase_landing .frase .item-frase:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  opacity: 1;
}
main #section_Slider .frase_landing .frase .item-frase:nth-child(3) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  opacity: 1;
  color: transparent;
  -webkit-text-stroke: 2px white;
}
main #section_Slider .contenedor-fotos {
  margin-top: 100px;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 80%;
  margin-left: 60px;
  order: 1;
}
main #section_Slider .contenedor-fotos div {
  width: 400px;
}
main #section_Slider .contenedor-fotos figure {
  width: 200px;
  height: 240px;
  border: 20px solid #FFFAF0;
  display: inline-block;
  box-shadow: 1px 5px 20px black;
}
main #section_Slider .contenedor-fotos figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
main #section_Slider .contenedor-fotos figure:nth-child(1) {
  transform: rotate(-21deg);
}
main #section_Slider .contenedor-fotos figure:nth-child(2) {
  margin-left: -83px;
  transform: rotate(12deg);
}
main #section_Slider .contenedor-fotos figure:nth-child(3) {
  margin-top: -110px;
  transform: rotate(-60deg);
}
main #section_Slider .explicacion {
  margin-top: 10px;
  color: white;
  white-space: pre-line;
  text-align: end;
}
main #section_Otros_Hoteles {
  background-image: linear-gradient(to left bottom, #ffffff, #fefefe, #fefefe, #fdfdfd, #fcfcfc, #fafafb, #f9f9fa, #f7f7f9, #f3f4f8, #eff2f7, #ebeff5, #e6edf4);
  width: 100%;
  height: 100vh;
  padding: 0px 80px;
  color: #27272e;
}
main #section_Otros_Hoteles .Contenenedor_Otro_Hoteles {
  width: 100%;
  height: 100%;
  padding: 20px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px;
}
main #section_Otros_Hoteles .Contenenedor_Otro_Hoteles h2 {
  text-align: center;
  font-size: 4.5rem;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row: 1;
}
main #section_Otros_Hoteles .Contenenedor_Otro_Hoteles figure {
  box-shadow: #eeeeee 1px 5px 15px 3px;
  border: 2px solid rgba(160, 160, 160, 0.9333333333);
  display: flex;
}
main #section_Otros_Hoteles .Contenenedor_Otro_Hoteles figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 40%;
  border: solid 20px white;
}
main #section_Otros_Hoteles .Contenenedor_Otro_Hoteles figure figcaption {
  display: inline-block;
  padding: 20px;
  text-align: justify;
}
main #section_Otros_Hoteles .Contenenedor_Otro_Hoteles figure figcaption h4 {
  margin-bottom: 20px;
}
main #section_nuestrosServicos {
  width: 100%;
  height: 100vh;
  padding: 0px 80px;
  background: #27272e;
}
main #section_nuestrosServicos h2 {
  text-align: center;
  padding: 20px 0px;
  font-weight: 900;
  font-size: 3.5rem;
  color: white;
}
main #section_nuestrosServicos p {
  color: #dddddd;
}
main #section_nuestrosServicos #box-cards {
  width: 100%;
  display: flex;
  align-items: stard;
  gap: 20px;
  padding-top: 70px;
  flex-wrap: wrap;
}
main #section_nuestrosServicos #box-cards .card-servicios {
  flex: 1;
  min-width: 200px;
  max-width: 320px;
  height: 350px;
  border-radius: 10px;
  border: 2px solid #24241f;
  cursor: pointer;
}
main #section_nuestrosServicos #box-cards .card-servicios:nth-child(1):hover .header-card i {
  color: yellow;
}
main #section_nuestrosServicos #box-cards .card-servicios:nth-child(2):hover .header-card i {
  color: green;
}
main #section_nuestrosServicos #box-cards .card-servicios:nth-child(3):hover .header-card i {
  color: #41a6d4;
}
main #section_nuestrosServicos #box-cards .card-servicios:nth-child(4):hover .header-card i {
  color: #9241d4;
}
main #section_nuestrosServicos #box-cards .card-servicios:hover {
  transition: 0.3s ease-in;
  box-shadow: #24241f 1px 5px 15px 3px;
  transform: scale(1.1);
}
main #section_nuestrosServicos #box-cards .card-servicios .header-card {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px 10px 20px;
  flex-direction: column;
}
main #section_nuestrosServicos #box-cards .card-servicios .header-card i {
  font-size: 3.5rem;
  margin: auto;
}
main #section_nuestrosServicos #box-cards .card-servicios .header-card h3 {
  padding: 20px 10px;
}
main #section_nuestrosServicos #box-cards .card-servicios .section-card {
  width: 100%;
}
main #section_nuestrosServicos #box-cards .card-servicios .section-card p {
  padding: 20px;
  text-align: justify;
}
main #section_Descarga {
  width: 100%;
  height: 100vh;
  padding: 0px 80px;
  background-image: linear-gradient(to left bottom, #ffffff, #fefefe, #fefefe, #fdfdfd, #fcfcfc, #fafafb, #f9f9fa, #f7f7f9, #f3f4f8, #eff2f7, #ebeff5, #e6edf4);
  position: relative;
  padding-top: 10px;
}
main #section_Descarga div {
  width: 80%;
  height: 400px;
  margin: auto;
  background: #27272e;
  border-radius: 20px;
}
main #section_Descarga div h2 {
  color: white;
  font-size: 3.5rem;
  text-align: center;
  padding-top: 50px;
}
main #section_Descarga div .logo {
  display: flex;
  justify-content: center;
}
main #section_Descarga div div {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main #section_Descarga div div .appStore img {
  width: 230px;
  height: 80px;
  background-color: white;
  border-radius: 10px;
}
main #section_Descarga div div .googlePlay img {
  width: 230px;
  height: 80px;
  border-radius: 10px;
  background-color: white;
}
main #section_Descarga .telefono {
  display: flex;
  justify-content: center;
}
main #section_Descarga .telefono img {
  width: 450px;
  height: 330px;
  padding: 20px;
}

footer {
  width: 100%;
  background-color: #27272e;
  padding: 50px 80px;
}
footer section {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}
footer section .logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
footer section .logo-footer article {
  text-align: justify;
}
footer section .logo-footer .box-social-media {
  width: 100%;
}
footer section .logo-footer .box-social-media h3 {
  padding: 10px 0px;
}
footer section .logo-footer .box-social-media .social-media {
  display: flex;
  padding: 10px;
}
footer section .logo-footer .box-social-media .social-media figure {
  width: 200px;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer section .logo-footer .box-social-media .social-media figure img {
  width: 50px;
}
footer section .logo-footer .box-social-media .social-media figure figcaption {
  text-align: start;
}
footer section .Ventajas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer section .Ventajas h2 {
  padding: 10px 0px;
  text-align: start;
}
footer section .Ventajas .box-ventajas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
footer section .Ventajas .box-ventajas li {
  font-weight: bold;
}
footer section .Ventajas .box-ventajas li::before {
  content: "• ";
}
footer section .Ventajas .box-logo-autores {
  display: flex;
  padding-top: 10px;
  align-items: center;
}

@-webkit-keyframes roll {
  0% {
    transform: translate3d(0, -40%, 0);
    opacity: 0;
  }
  27.5%, 100% {
    transform: translate3d(0, 0%, 0);
    opacity: 1;
  }
}

@keyframes roll {
  0% {
    transform: translate3d(0, -40%, 0);
    opacity: 0;
  }
  27.5%, 100% {
    transform: translate3d(0, 0%, 0);
    opacity: 1;
  }
}
@media only screen and (max-width: 750px) {
  header nav {
    padding: 2px;
    gap: 2px;
  }
  header nav figure {
    flex-grow: 1;
  }
  header nav figure img {
    width: 110px;
    height: 55px;
  }
  header nav .caja-items-nav {
    flex-grow: 2;
  }
  #section_Slider {
    padding: 0px;
    justify-content: center !important;
  }
  #section_Slider .frase_landing {
    margin-top: 0px !important;
  }
  #section_Slider .frase_landing .frase {
    font-size: 3.5rem !important;
  }
  #section_Slider .frase_landing .explicacion {
    text-align: center;
  }
  #section_Otros_Hoteles {
    padding: 0px !important;
    height: 120vh !important;
  }
  #section_Otros_Hoteles .Contenenedor_Otro_Hoteles {
    grid-template-columns: 1fr !important;
    grid-template-row: 1fr;
    gap: 5px !important;
  }
  #section_Otros_Hoteles .Contenenedor_Otro_Hoteles figure img {
    width: 40% !important;
    height: 100% !important;
  }
  #section_Otros_Hoteles .Contenenedor_Otro_Hoteles figure figcaption {
    padding: 10px !important;
  }
}
@media only screen and (max-width: 750px) {
  html {
    font-size: 12px;
  }
  main #section_Slider .frase_landing {
    text-align: center !important;
  }
  main #section_Slider .contenedor-fotos {
    display: none !important;
  }
}/*# sourceMappingURL=style.css.map */