@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,500;1,700;1,900&display=swap')
@import "reset"

$blackTransparent: rgba(0, 0, 0, 0.459)
$paddingXPagina: 80px
$paddingXResponsive: 10px
$colorNav: white
$tamanoDeLetra: 15px
$fontFamily: Roboto
$azulLogo: #27272e
$amarillologo: #ECB84A
$bgSecciones: linear-gradient(to left bottom, #ffffff, #fefefe, #fefefe, #fdfdfd, #fcfcfc, #fafafb, #f9f9fa, #f7f7f9, #f3f4f8, #eff2f7, #ebeff5, #e6edf4)

html
    font-size: 15px
    scroll-behavior: smooth

body
    font-family: $fontFamily,'Tajawal', sans-serif
    position: relative

header
    width: 100%
    position: absolute
    z-index: 99
    // background-color: $blackTransparent
    hr
        background: $colorNav
        height: 2px
        width: 97%
        border-radius: 70px
        margin: auto
    nav
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0px $paddingXPagina
        gap: 60px
        figure
            img
                width: 150px
                height: 65px
        .caja-items-nav
            li
                display: inline-block
                height: 100%
                a
                    height: 100%
                    padding: 20px 0px
                    font-size: 1.2em
                    margin-left: 10px
                    color: $colorNav
                    font-weight: bold
                    border-bottom: 2px solid transparent
                    &:hover
                        border-bottom: 2px solid $colorNav

    html
        font-size: 12px
    main
        .Contenenedor_Otro_Hoteles
            grid-template-columns: 1fr !important
            grid-row: 1fr auto
main
    #section_Slider
        display: flex
        justify-content: end
        align-items: center
        flex-direction: row
        max-height: 100vh
        height: 100vh
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/cosmosmin.jpg")
        background-attachment: fixed
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        padding: 20px $paddingXPagina
        .frase_landing
            margin-top: 100px
            flex-grow: 2
            order: 2
            text-align: end
            .frase
                font-size: 5.5em
                font-weight: 800
                line-height: 80px
                color: white
                .item-frase
                    display: block
                    animation: roll 8s ease 1s backwards
                    &:nth-child(1)
                        animation-delay: 0s
                        opacity: 1
                    &:nth-child(2)
                        animation-delay: 1s
                        opacity: 1
                    &:nth-child(3)
                        animation-delay: 2s
                        opacity: 1
                        color: transparent
                        -webkit-text-stroke: 2px white
        .contenedor-fotos
            margin-top: 100px
            display: flex
            justify-content: end
            align-items: center
            height: 80%
            margin-left: 60px
            order: 1
            div
                width: 400px
            figure
                width: 200px
                height: 240px
                border: 20px solid #FFFAF0
                display: inline-block
                box-shadow: 1px 5px 20px black
                img
                    object-fit: cover
                    width: 100%
                    height: 100%
            figure:nth-child(1)
                transform: rotate(-21deg)
            figure:nth-child(2)
                margin-left: -83px
                transform: rotate(12deg)
            figure:nth-child(3)
                margin-top: -110px
                transform: rotate(-60deg)

        .explicacion
            margin-top: 10px
            color: white
            white-space: pre-line
            text-align: end

    #section_Otros_Hoteles
        background-image: $bgSecciones
        width: 100%
        height: 100vh
        padding: 0px $paddingXPagina
        color: $azulLogo

        .Contenenedor_Otro_Hoteles
            width: 100%
            height: 100%
            padding: 20px
            gap: 10px
            display: grid
            grid-template-columns: 1fr 1fr
            grid-template-rows: 100px 1fr 1fr 1fr 1fr
            h2
                text-align: center
                font-size: 3.5rem
                grid-column-start: 1
                grid-column-end: -1

            figure
                box-shadow: #eeeeee 1px 5px 15px 3px
                border: 2px solid #a0a0a0ee
                display: flex
                img
                    object-fit: cover
                    width: 40%
                    border: solid 20px white

                figcaption
                    display: inline-block
                    padding: 20px
                    text-align: justify
                    h4
                        margin-bottom: 10px
    #section_nuestrosServicos
        width: 100%
        height: 100vh
        padding: 0px $paddingXPagina
        background: #27272e
        h2
            text-align: center
            padding: 20px 0px
            font-weight: 900
            font-size: 3.5rem
            color: white
        .podrasEncontar
            font-size: 2rem
        p
            color: #dddddd

        #box-cards
            width: 100%
            display: flex
            align-items: stard
            gap: 20px
            padding-top: 70px
            flex-wrap: wrap
            .card-servicios
                flex: 1
                min-width: 170px
                max-width: 320px
                height: 350px
                border-radius: 10px
                border: 2px solid #24241f
                cursor: pointer
                &:nth-child(1)
                    &:hover
                        .header-card
                            i
                                color: yellow
                &:nth-child(2)
                    &:hover
                        .header-card
                            i
                                color: green
                &:nth-child(3)
                    &:hover
                        .header-card
                            i
                                color: #41a6d4
                &:nth-child(4)
                    &:hover
                        .header-card
                            i
                                color: #9241d4
                &:hover
                    transition: 0.3s ease-in
                    box-shadow: #24241f 1px 5px 15px 3px
                    transform: scale(1.1)

                .header-card
                    color: white
                    display: flex
                    justify-content: center
                    align-items: center
                    padding: 40px 20px 10px 20px
                    flex-direction: column
                    i
                        font-size: 3.5rem
                        margin: auto
                    h3
                        padding: 20px 10px
                .section-card
                    font-size: 1rem
                    width: 100%
                    p
                        padding: 20px
                        text-align: start
    #section_Descarga
        width: 100%
        height: 100vh
        padding: 0px $paddingXPagina
        background-image: $bgSecciones
        position: relative
        padding-top: 10px
        div
            width: 80%
            height: 400px
            margin: auto
            background: $azulLogo
            border-radius: 20px
            h2
                color: white
                font-size: 3.5rem

                text-align: center
                padding-top: 50px
            .logo
                display: flex
                justify-content: center

            div
                width: 100%
                height: 40%
                display: flex
                justify-content: center
                align-items: center
                gap: 10px
                .appStore
                    img
                        width: 230px
                        height: 80px
                        background-color: white
                        border-radius: 10px
                .googlePlay
                    img
                        width: 230px
                        height: 80px
                        border-radius: 10px
                        background-color: white

        .telefono
            display: flex
            justify-content: center
            img
                width: 450px
                height: 330px
                padding: 20px

footer
    width: 100%
    background-color: #27272e
    padding: 50px $paddingXPagina
    section
        color: white
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr
        gap: 20px
        .logo-footer
            display: flex
            flex-direction: column
            justify-content: space-evenly
            article
                text-align: justify
            .box-social-media
                width: 100%
                h3
                    padding: 10px 0px
                .social-media
                    display: flex
                    padding: 10px
                    figure
                        display: flex
                        align-items: center
                        gap: 10px
                        img
                            width: 50px
                        figcaption
                            text-align: start

        .Ventajas
            display: flex
            flex-direction: column
            justify-content: space-between
            h2
                padding: 10px 0px
                text-align: start
            .box-ventajas
                display: flex

                justify-content: space-around
                flex-wrap: wrap
                gap: 20px
                li
                    font-weight: bold
                    &::before
                        content: "• "

            .box-logo-autores
                display: flex
                padding-top: 10px
                align-items: center

@keyframes roll
    0%
        transform: translate3d(0,-40%,0)
        opacity: 0
    27.5%, 100% 
        transform: translate3d(0,0%,0)
        opacity: 1

@import "_responsiveMedia"
